* {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  background-image: url('./assets/bgimage.jpg');
  color: greenyellow;
}

body {
  display: flex;
  overflow-x: hidden;
}

img {
  display: flex;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

span {
  font-size: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
}

.container {
  min-width: 100%;
  justify-content: center;
  
}

.flash {
  display: flex;
  background: blue;
  color: rgb(215, 215, 215);
  justify-content: center;
  font-size: 1em;
}

#bold {
  color: white;
  margin-left: 1em;
  margin-right: .25em;
}

.sale {
  text-align: center;
  border-bottom: solid;
  justify-content: flex-start;
  min-width: 250px;
  min-height: 250px;
}

.collection {
  display: flex;
  flex-direction: column;
}

.collection-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 6%;
}

.content {
  display: flex;
  height: auto;
  margin-left: 6%;
  margin-right: 6%;
}

.outer {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  margin: 0;
  min-width: 25%;
 
}

.outer-top {
  justify-content: flex-end;
  display: flex;
  z-index: 1;
}

.btn {
  display: flex;
  width: 35px;
  background: lightgray;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.slidebtn{
  display: flex;
  font-size: 2em;
  cursor: none;
}

#left {
  justify-content: flex-end;
  cursor: pointer;
  right: 0;
}

#right { 
  cursor: pointer; 
}

.slideContent{
  display: flex;  
}

.item {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  position: relative;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.submit {
  margin-top: 12px;
  text-align: center;
  border: 2px solid white;
  background:none;
  width: 100%;
  color: white;
}

.button {
  padding: 1em; 
  color: white;
  background: rgba(214, 215, 216, 0);
  cursor: pointer;
}

#logo { 
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  justify-content: flex-start;
  margin-bottom: 0;
  justify-content: center;
}

#logo h1 {  
  font-size: 3em;
  margin:0;
  padding: 0;
}

#logo h3 { 
  text-align: left;
  margin: 0;
  padding: 0;

}

#disc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  background: red;
  color: white;
  border-radius: 50%;
  position: absolute;
}

#slashed {
  justify-content: center;
  text-decoration: line-through;
  color: red; 
}

.discount {
  display: flex;
  justify-content: center;
  align-items: center;;
  justify-content: space-evenly;
  height: 1rem;
  width: 33%;
}

#contact {
  text-align: left;
  margin: 25px;
  max-width: 575px;
  min-width: 250px;
  min-height: 250px ;
}

#contact h2 {
  text-align: center;
}

#contact-form {
  transform: skewx(-5deg);
  text-align: left;
  background-image: linear-gradient(rgb(47, 119, 241),rgb(120, 153, 244));
  min-width: 250px;
  max-width: 575px;
  min-height: 375px;
  margin: 25px;
}

#form-fields {
  font-size: .5rem;
  transform: skewx(5deg);
  margin: 25px;
  align-items: center;
}


/* media queries */

@media screen and (max-width: 1500px){

  .content {
    display: flex;
    justify-content: center;
    height: 75%;
    
  }
  span {
   font-size: 75%; 
  }
  img {
    height: 75%;
    width: 75%;
    z-index: -1;
  }
  .disc {
    width: 75%;
    height: 75%;
  }
  .outer {
    justify-items: center;
    display: flex;
    max-width: 25%;
    
  }
  .item {
    margin: 0;
  }
}
  

